body{background-color: beige;}
.container{
    width: 1000px !important;
    text-align: justify;
}

.container,
header .row,
footer .row{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.295);
}
header img{
    width: 120px;
}
ul{
    list-style-type: none;
}
header ul > li:last-child{
    color: var(--bs-primary);
    border-bottom: 4px solid var(--bs-primary);
}
